{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body>
    <div class="card container shadow-lg">
        <h1>{{ article.title }}</h1>
        <p>{{ article.first_article }}</p>
        <div class="center">
            <a href="{{ article.first_photo.url }}">
                <img class="shadow-lg " src="{{ article.first_photo.url }}" width="1090" height="400">
            </a>
        </div>
        <p>{{ article.last_article }}</p>
        <div class="center">
            <a href="{{ article.last_photo.url }}">
                <img class="shadow-lg " src="{{ article.last_photo.url }}" width="1090" height="400">
            </a>
        </div>
        <div>
            <iframe src="{{ article.video_url }}"></iframe>
        </div>
        {% for comment in comments %}
            <br>
            {% if comment.user == user %}
                <h4>{{ user.username }}</h4>
            {% endif %}
            <div class="shadow-lg">
                <p>{{ comment.comment }}</p>
            </div>
        {% endfor %}
        <br>
        <form method="POST" class="card shadow-lg">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>
{% endblock content %}