{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAA-Kids</title>
</head>
<body>
    {% for article in articles %}
        <div class="card container shadow-lg">
            <h1>{{ article.title }}</h1>
            <h4></h4>
            {% for tag in article.tags.all %}
                <p>{{ tag.name }}</p>
            {% endfor %}
            <div>
                <a href="{{ article.get_url }}">
                    <input class="btn btn-primary" type="button" value="More Details">
                </a>
            </div>
        </div>
        <br>
    {% endfor %}

    {% for photo in photos %}
        <h3>{{ photo.title }}</h3>
        <img src="{{ photo.photo.url }}">
    {% endfor %}

</body>
</html>
{% endblock content %}