{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>SAA-Kids</title>
</head>
<body>
    {% for article in articles %}
        <div class="card container shadow-lg">
            <h1>{{ article.title }}</h1>
            <p>{{ article.first_article }}</p>
            <div class="center">
                <a href="{{ article.first_photo.url }}">
                    <img class="shadow-lg " src="{{ article.first_photo.url }}" width="1090" height="400">
                </a>
            </div>
            <div>
                <a href="{{ article.get_url }}">
                    <input class="btn btn-primary" type="button" value="More Details">
                </a>
            </div>
        </div>
        <br>
    {% endfor %}
</body>
</html>
{% endblock content %}