{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>

</head>
<body>
<form  action="{% url 'workshops:search' %}" method="get" style="padding: 25px; border-bottom: #c951f6 5px solid;border-top: #c951f6 5px solid ;border-radius: 30px;text-align: right" >
         <div>
         <input list="b" name="search" type="search" id="search"  placeholder="&#xF002; search something" style="border-radius: 20px">
         <input type="date" name="SDate" style="border-radius: 20px">
         <input type="date" name="EDate" style="border-radius: 20px">
             <datalist id="b">
                 {% for a in workshops %}
                     <option value="{{ a.title }}">
                 {% endfor %}
             </datalist>
            <select  name="tag" id="tag"  style="border-radius: 20px">
            <option value="0">None</option>
                {% for t in tags%}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}

            </select>
        <button type="submit" class="btn btn-primary" style="border-radius: 50px;background-color: hotpink;border: hotpink 1px solid">بحث</button>
         </div>
        </form>
<br><br>

<div class="card container" style="padding: 25px; border-right: rgb(23,202,240) 5px solid;border-bottom: rgb(23,202,240) 5px solid;border-radius:30px;box-shadow: aliceblue 2px 4px 4px;">
    <h1 style="margin: auto;color: rgb(23,202,240)" >
        Workshops
    </h1>
</div>
<br><br>
<div class="row">
{% for workshop in workshops %}
    {% if not workshop.is_active %}
        <div class="col-lg-6" style="min-height: 400px;text-align: right">
        <div class="card container " style="padding: 25px; border-right: rgb(23,202,240) 5px solid;border-bottom: rgb(23,202,240) 5px solid;border-radius:30px;box-shadow: aliceblue 2px 4px 4px;height: 100% " >
            <div class="center">
                <a href="{{ workshop.post_photo.url}}">
                    <img class="shadow-lg " src="{{ workshop.post_photo.url}}" width="100%" height="100%">
                </a>
            </div>
            <h1 style="margin: auto;color: #09b6fe ;">{{ workshop.title }}</h1>
            <p>المكان: {{ workshop.location }}</p>
            <p style="color: lawngreen"> {{ workshop.start_date }} :يبدأ في </p>
            <p style="color: red"> {{ workshop.end_date }}:ينتهي في</p>
            <div>
                <a href="{{ workshop.get_url }}">
                    <input class="btn btn-primary" type="button" value="المحتوى" style="border-radius: 50px;background-color: rgb(23,202,240);border: rgb(23,202,240) 1px solid">
                </a>
            </div>
        </div>
        <br>
        </div>
    {% endif %}
{% endfor %}
</div>
<br><br>
<div class="card container" style="padding: 25px; border-right: magenta 5px solid;border-bottom: magenta 5px solid;border-radius:30px;box-shadow: aliceblue 2px 4px 4px;">
    <h1 style="margin: auto;color: magenta">
        Activities
    </h1>
</div>
<br><br>
<div class="row">
{%for act in activity %}
    <div  class="col-lg-6 " style="min-height: 900px;text-align: right">
             <div class="c{{ act.id }}" style="padding: 25px; border-right: magenta 5px solid;border-bottom: magenta 5px solid;border-radius:30px;box-shadow: aliceblue 2px 4px 4px;height: 100%">
             <div class="center">
                <a href="{{ act.post_photo.url }}">
                    <img class="shadow-lg " src="{{ act.post_photo.url }}" width="100%" height="100%">
                </a>
            </div>
             <br>
             <div>
                <h1 style="margin: auto; color: magenta">   {{ act.title }}</h1>
                 <br>
                    <p style="color: #0d6efd"> {{ act.date }}  :التاريخ</p>
                     <p> الوصف:{{ act.description }}</p>
                     <p style="color: red">أكبر عمر:{{ act.max_required_age }}</p>
                     <p style="color:lawngreen "> أصغر عمر:{{ act.min_required_age }}</p>
                <a href="{{ act.get_url }}">
                    <input class="btn btn-primary" type="button" value="التفاصيل" style="border-radius: 50px;background-color: magenta;border: magenta 1px solid">
                </a>




             </div>
            </div>
</div>

        {% endfor %}
</div>
</body>
</html>
{% endblock content %}