{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .reco{
            width: 70px;
            height: 30px;
            background-color: magenta;
            border: 1px magenta solid;
            border-radius:30px ;
            text-align: center;
            color: white;
            margin: 2px;
        }
    </style>
</head>
<body>

             <div style="background-color: white;border-right: magenta 5px solid;border-bottom: magenta 5px solid;padding: 25px;border-radius: 30px; box-shadow: gray 2px 2px 4px;text-align: right">
              <div class="center">
                <a href="{{ activity.post_photo.url }}">
                    <img class="shadow-lg" src="{{ activity.post_photo.url }}" width="100%" height="100%">
                </a>
            </div>
             <br>
             <div class="row">
             {% for photo in photos %}
        <div class="col-sm-4" style="height: 250px">
            <a href="{{ photo.photo.url}}">
                <img class="shadow-lg " src="{{ photo.photo.url}}" width="100%" height="80%" style="border-radius: 40px">
            </a>
        </div>
    {% endfor %}
             </div>
             <div>

                     <h1 style="color: magenta;text-align: center"> {{activity.title }}</h1>
                 <br>

                     <p>أعلى عمر مطلوب: {{ activity.max_required_age }}</p>
                     <p>أقل عمر مطلوب: {{ activity.min_required_age }}</p>
                     <p>التاريخ: {{ activity.date }}</p>
                     <p> تاريخ البدء:{{ activity.start_time }}</p>
                     <p>تاريخ النهاية: {{ activity.end_time }}</p>
                     <p>الوصف : {{ activity.description }}</p>
                     <p>الموقع:{{ activity.location }}</p>
                     <p>الحجز: {{ activity.form_url }}</p>
                     <p>ملاحظات: {{ activity.note }}</p>
                </div>

                <!-- {% for i in photos %}
                 <img src="{{ i.photo.url }}" width="200" height="200" alt="">
                 {% endfor %}-->
                 <p>{{ activity.created }}  : أنشئ في</p>
                 <p>{{activity.updated}} : تم تعديله في  </p>
             <div class="row">
                                  <p>{% for tag in activity.tags.all %}
                        <div class="col-sm-1 reco"><p>{{tag.name}}</p></div>
                         {% endfor %}
                     </p>
            </div>


</body>
</html>
{% endblock content %}