{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

             <div style="background-color: white;border-right: magenta 5px solid;border-bottom: magenta 5px solid;padding: 25px;border-radius: 30px; box-shadow: gray 2px 2px 4px;text-align: right">
              <div class="center">
                <a href="{{ activity.post_photo.url }}">
                    <img class="shadow-lg" src="{{ activity.post_photo.url }}" width="100%" height="100%">
                </a>
            </div>
             <br>
             <div class="row">
             {% for photo in photos %}
        <div class="col-sm-4">
            <a href="{{ photo.photo.url}}">
                <img class="shadow-lg " src="{{ photo.photo.url}}" width="100%" height="60%" style="border-radius: 40px">
            </a>
        </div>
    {% endfor %}
             <div>
                 <p>created:{{ activity.created }}updated:{{activity.updated}}</p>
                     <h1> title: {{activity.title }}</h1>
                     <p> tags:{% for tag in activity.tags.all %}
                            {{tag.name}}
                         {% endfor %}
                     </p>
                     <p>max age: {{ activity.max_required_age }}</p>
                     <p>min age: {{ activity.min_required_age }}</p>
                     <p>date: {{ activity.date }}</p>
                     <p>start time: {{ activity.start_time }}</p>
                     <p>end time: {{ activity.end_time }}</p>
                     <p>description: {{ activity.description }}</p>
                     <p>location:{{ activity.location }}</p>
                     <p>Reservation: {{ activity.form_url }}</p>
                     <p>not!!: {{ activity.note }}</p>
                </div>

                <!-- {% for i in photos %}
                 <img src="{{ i.photo.url }}" width="200" height="200" alt="">
                 {% endfor %}-->
             </div>
            </div>


</body>
</html>
{% endblock content %}