<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>activities</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"/>
    <style>
        div{
            border:4px solid black;
            margin: 40px ;
            padding: 40px;

        }
    </style>

</head>
<body>
        <form action="{% url 'activity:search' %}" method="get">
         <div>
         <input list="b" name="search" type="search" id="search"  placeholder="&#xF002; search something" style="border-radius: 2%;FontAwesome">
             <datalist id="b">
                 {% for a in activity %}
                     <option value="{{ a.title }}">
                 {% endfor %}
             </datalist>
            <select  name="tag" id="tag" >
            <option value="0">None</option>
                {% for t in tags%}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}

            </select>
        <button type="submit">Search</button>
         </div>
        </form>

        {%for act in activity %}
             <div>
                 <ul> <li> <a href="{{ act.get_url }}"> title: {{ act.title }}</a></li>
                     <li>date:{{ act.date }}</li>
                     <li>max age:{{ act.max_required_age }}</li>
                     <li>min age:{{ act.min_required_age }}</li>
           </ul>
            </div>
        {% endfor %}
{% if activity.count == 0 %}
    <h1> no matching results</h1>
{% endif %}

</body>
</html>