<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teacher Teaching Program</title>
</head>
{% load static %}
<body style="background-image: url('/static/img/1 ‫(2)‬.jpg')">
<form action="{% url 'teacherteachingprogram:search_ttp' %}"  method="get" style="display:inline-table">


        <div>

         <input name="search" type="search" id="search"  placeholder="search something" style="border-radius: 2%">

            <select name="tag_id" id="tag_id">
            <option value="0">None</option>
                {% for tag in tags.all %}
                    <option value="{{ tag.id }}">{{ tag.name }}</option>
                {% endfor %}

            </select>

        <button type="submit">Search</button>
         </div>
    </form>



{% for t in ttp %}
    <div>
        <ul>
            <li><img src="{{ t.post_photo.url }}"></li>
            <li><a href="{{ t.get_url }}">title{{t.title}}</a></li>
            <li>teacher grade:{{ t.teaching_grade}}</li>
            <li>{% for i in photos %}
                {% if i.ttp == t %}
                        <img src="{{ i.photo.url }}" width="200" height="200">
                {% endif %}
            {% endfor %}</li>

        </ul>
    </div>
{% endfor %}
</body>
</html>