{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!--<script src="https://kit.fontawesome.com/d26b7c3f6e.js" crossorigin="anonymous"></script>-->

    <meta charset="UTF-8">
    <title>LearnWithYourKids</title>

    <style>
        h1{
            font-family: doublebubble_shadowregular;
                font-weight: normal;
                font-style: normal;

        }

      /* div:nth-child(even){
        border-right: orange 5px solid;border-top: orange 5px solid;

       }*/
    </style>
</head>
<bodys style="background:red " >


<form data-aos="fade-down" data-aos-duration="2000"  action="{% url 'learnwithyourkids:search' %}" method="get" class="shadow-lg card box container" style="padding: 25px; border-bottom: #c951f6 5px solid;border-top: #c951f6 5px solid ;border-radius: 30px;">
     <div>
         <input list="b" name="search" type="search" id="search"  placeholder="&#xF002; search something" style="border-radius: 50px;">
             <datalist id="b">
                 {% for lwyk in lwyks %}
                     <option value="{{ lwyk.title }}">
                 {% endfor %}
             </datalist>
        <select  name="tag" id="tag" style="border-radius: 50px;">
            <option value="0">None</option>
            {% for tag in tags%}
                <option value="{{ tag.id }}">{{ tag.name }}</option>
            {% endfor %}
        </select>
        <button type="submit" style="border-radius: 50px; background: #67058b;border: #67058b 1px solid"class="btn btn-primary">Search</button>
     </div>
</form>
<div class="row">
{%for lwyk in lwyks %}
    <div class="col-lg-6" style="min-height: 900px;">
    <br>
    <div class="card container" data-aos="fade-up"
     data-aos-duration="3000"  style="padding: 25px; border-right: rgb(23,202,240) 5px solid;border-bottom: rgb(23,202,240) 5px solid;border-radius:30px;box-shadow: aliceblue 2px 4px 4px;height: 100% " >
        <div class="center">
            <a href="{{ lwyk.photo.url }}">
                <img class="shadow-lg " src="{{ lwyk.photo.url }}" width="100%" height="100%">
            </a>
        </div>
        <br>
        <div>
        <h1 style="margin: auto;color: #09b6fe ;margin-bottom: 20px;">{{ lwyk.title }}</h1>
        <!--hotbink-->
        <p style="text-align:right ;margin-right: 10px;">{{ lwyk.description }}</p>
        <hr>
        {% for tag in lwyk.tags.all %}
            <p style="color: blue;">{{ tag.name }}</p>
        {% endfor %}
        </div>
        <div>
            <a href="{{ lwyk.url }}">
                <input class="btn btn-primary" type="button" value="Content" style="border-radius: 50px;background-color: rgb(23,202,240);border: rgb(23,202,240) 1px solid">
            </a>
        </div>
    </div>
    </div>
{% endfor %}
</div>
{% if LWYK.count == 0 %}
    <h1> no matching results</h1>
{% endif %}

<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
<script>
  AOS.init();
</script>
</bodys>
</html>
{% endblock content %}