<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>LearnWithYourKids</title>
</head>
<body>


 <form action="{% url 'learnwithyourkids:search' %}" method="get">
         <div>
         <input list="b" name="search" type="search" id="search"  placeholder="&#xF002; search something" style="border-radius: 2%;FontAwesome">
             <datalist id="b">
                 {% for a in LWYK %}
                     <option value="{{ a.title }}">
                 {% endfor %}
             </datalist>
            <select  name="tag" id="tag" >
            <option value="0">None</option>
                {% for t in tags%}
                    <option value="{{ t.id }}">{{ t.name }}</option>
                {% endfor %}

            </select>
        <button type="submit">Search</button>
         </div>
        </form>

 {%for i in LWYK %}
             <div>
                 <ul>
                     <li>title:{{ i.title }}</li>

                     <li>tags: {% for tag in i.tags.all %}
                         <button>{{ tag.name }}</button>
                         {% endfor %}
                     </li>
                     <li><img src="{{ i.photo.url }}" width="200" height="200"></li>
                     <li>description:{{ i.description }}</li>
                     <li>{{ i.url }}</li>>

                </ul>
            </div>
        {% endfor %}
{% if LWYK.count == 0 %}
    <h1> no matching results</h1>
{% endif %}



</body>
</html>