{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>
</head>
<body>
{% for workshop in workshops %}
    {% if workshop.is_active %}
        <div>
        {% for photo in photos %}
            {% if photo.workshop == workshop %}
                <div class="right">
                    <a href="{{ photo.photo.url }}">
                        <img src="{{ photo.photo.url }}" width="1000" height="500">
                    </a>
                </div>
            {% endif %}
        {% endfor %}
        <p>{{ workshop.title }}</p>
        <p>{{ workshop.description }}</p>
        <p>{{ workshop.location }}</p>
        <p>{{ workshop.start_date }}</p>
        <p>{{ workshop.end_date }}</p>
        {% for day in days %}
            <p>{{ day.day }} {{ day.start_time }} {{ day.end_time }}</p>
            <p>{{ day.description }}</p>
            <p>{{ day.location }}</p>
        {% endfor %}
        <a href="{{ workshop.form_url }}"><input type="button" value="submit"></a>
        <a href="{{ workshop.details_url }}"><input type="button" value="Details"></a>
        <p>{{ workshop.min_required_age }}</p>
        <p>{{ workshop.max_required_age }}</p>
        </div>
    {% endif %}
{% endfor %}
</body>
</html>
{% endblock content %}