{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Workshops</title>
</head>
<body>
{% for workshop in workshops %}
    {% if workshop.is_active %}
        <div class="card box-flex shadow-lg center " style="padding: 10px">
            <div class="center">
                <a href="{{ workshop.post_photo.url}}">
                    <img class="shadow-lg " src="{{ workshop.post_photo.url}}" width="1090" height="400">
                </a>
            </div>
            <h1>{{ workshop.title }}</h1>
            <p>location: {{ workshop.location }}</p>
            <p>start in: {{ workshop.start_date }}</p>
            <p>end in: {{ workshop.end_date }}</p>
            <div>
                <a href="{{ workshop.get_url }}">
                    <input class="btn btn-primary" type="button" value="Details">
                </a>
            </div>
        </div>
        <br>
    {% endif %}
{% endfor %}
</body>
</html>
{% endblock content %}