{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        body{background-image: url('/static/images/moi.png')}
    </style>
</head>
<body style="background-image: url('/static/images/moi.png')">
<div class="card box-flex shadow-lg center " style="padding: 10px">
    <div class="center">
        <a href="{{ workshop.post_photo.url}}">
            <img class="shadow-lg " src="{{ workshop.post_photo.url}}" width="1090" height="400">
        </a>
    </div>
    {% for photo in photos %}
        <div>
            <a href="{{ photo.photo.url}}">
                <img class="shadow-lg " src="{{ photo.photo.url}}" width="250" height="250">
            </a>
        </div>
    {% endfor %}
    <h1>{{ workshop.title }}</h1>
    <p>description: {{ workshop.description }}</p>
    <p>age: {{ workshop.min_required_age }} - {{ workshop.max_required_age }}</p>
    <p>location: {{ workshop.location }}</p>
    <p>workshop date: {{ workshop.start_date }} - {{ workshop.end_date }}</p>
    <p>days details:</p>
    {% for day in days %}
        <p>------------</p>
        <p>{{ day.day }}: {{ day.start_time }} {{ day.end_time }}</p>
        <p>day description: {{ day.description }}</p>
        <p>location in this day: {{ day.location }}</p>
        <p>------------</p>
    {% endfor %}
    {% for material in materials %}
        <div>
            <a href="{{ material.google_drive_url }}">
                <input class="btn btn-primary" type="button" value="pdf">
            </a>
        </div>
        <div>
            <a href="{{ material.youtube_url }}">
                <input class="btn btn-primary" type="button" value="youtube">
            </a>
        </div>
    {% endfor %}
    <p>note: {{ workshop.note }}</p>
    <div>
        <p style="align-self: end">to submit please check this form
            <a href="{{ workshop.form_url }}">
                <input class="btn btn-primary" type="button" value="Submit">
            </a>
        </p>
    </div>
</div>
</body>
</html>
{% endblock content %}